<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1ED69FAB1C8A336F0057B1E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1ED69FBC1C8A33700057B1E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1ED69FC71C8A33700057B1E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
